<thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Turma</th>
        <th>Materia</th>
        <th>Sala Nº</th>
        <th>Data</th>
        <th>Ações</th>
    </tr>
</thead>
<tbody>
    @foreach (var aula in Model)
    {
        <tr>
            <td>@aula.Id</td>
            <td>@aula.TurmaNome</td>
            <td>@aula.MateriaNome</td>
            <td>@aula.SalaId</td>
            <td>@aula.Data.ToString("d")</td>
            <td>
                <a href="/chamada/Index?aulaId=@aula.Id" class="btn btn-outline-info">Chamada</a>
                <a href="/aula/Update?id=@aula.Id" class="btn btn-outline-warning">Atualizar</a>
                <a href="/aula/Delete?id=@aula.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
</tbody>